@font-face {
    font-family: "iconfont"; /* Project id  */
    src: url('iconfont.ttf?t=1631366426941') format('truetype');
  }
  
  .iconfont {
    font-family: "iconfont" !important;
    font-size: 16px;
    font-style: normal;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  
  .icon-source:before {
    content: "\eac4";
  }
  
  .icon-home:before {
    content: "\eac9";
  }
  
  .icon-theme:before {
    content: "\eaec";
  }
  
  .icon-share:before {
    content: "\eaf1";
  }
  
  .icon-about_us:before {
    content: "\eb1a";
  }
  
  